@font-face {
  font-family: jaapokki;
  src: url(jaapokki.otf);
}

main {
  padding: 30px;
}

.navbar-brand {
  font-family: jaapokki;
  font-size: 60px;
  color: black;
}

.navbar {
  font-size: 20px;
  padding: 20px 10px 10px 10px;
}

#about-content,
#work-content,
#contact-content {
  font-size: 18px;
  margin: 0 15%;
}

#contact-address,
#work-list {
  list-style: none;
}

#contact-left {
  float: left;
  list-style: none;
}

#contact-right {
  float: right;
  list-style: none;
}
